
h1 {font-family: vespasian;
    font-size: 40pt;}
p {
  text-indent: 40px;
  text-align: left;
}
img {
  padding-top: 10px;

}
.cat {
  transition: .5s;
}
.cat:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px black;
}
body {
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  Background-size: cover;
  color: #111;
  background-attachment: fixed;
  font-size: 15pt;}
  div {padding: 50px;
      padding-top:20px;
      margin: 50px;
      background-color: #C3BECB;}
  ul.navbar {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;}
li.nav {
    float: left;}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

li.nav a:hover:not(.active) {
    background-color: pink;}

.active {
    background-color: pink;
}
a:link, a:visited {color: white;
                  text-decoration: none;}
a:hover {
  color: pink;
}

.letter {
  padding: 0;
  margin: 0;
  font-family: serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: transparent;
  padding: 5px;
}

.letter {
  background-color: rgba(125,125,125,.6);
/*  display: flex;*/
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  line-height: 1;
  font-weight: 600;
  transition: all .3s ease;
}

/* get elements to span multiple cells in the grid*/
.header {
  grid-column: span 3;
  grid-row: span 1;
}
.footer {
  grid-column: span 3;
  grid-row: span 1;
}
.navwrap {
  grid-column: span 3;
  grid-row: span 1;
}
.sidebar {
  grid-column: span 1;
  grid-row: span 1;
}

/* responsive layout  changes based on screen size*/

@media screen and (min-width: 200px) {
.wrapper {
grid-template-columns: 1fr 1fr 1fr;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 10pt;
}
body {
  font-size: 10pt;
}
}

@media screen and (min-width: 500px) {
.wrapper {
grid-template-columns: 1fr 1fr 1fr;
}
p {
  padding-left: 30px;
  padding-right: 30px;
}
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 25pt;
}
body {
  font-size: 15pt;
}
}

@media screen and (min-width: 1200px) {
.wrapper {
grid-template-columns: 1fr 1fr 1fr;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 17pt;
}
h1 {
  font-size: 50pt;
}
h2 {
  font-size: 30pt;
}
h3 {
  font-size: 24pt;
  padding-bottom: 20px;
}
}
