body {
  background-image: url("Horses/arabian.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px;
  background-size: cover;
  background-color: black;
  background-position: right top;
  color: white;
}
@font-face { font-family: Calligraphy;
              src: url(Fonts/CalligraphyFLF.ttf); }
h1 {
  font-family: Calligraphy;
  font-size: 60pt;
}
h2 {
  font-family: Calligraphy;
  font-size: 30pt;
}
h3 {
  font-family: Calligraphy;
  font-size: 25pt;
}
ul.navbar {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: transparent;}
li.nav {
  float: left;}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

li.nav a:hover:not(.active) {
  background-color: rgba(1,15,94,.8);
  transform: scale(1.1);
}

div {
  padding: 10px;
  margin: 5px;
  background-color: rgba(50,50,50,.6);
  /*border-style:solid;*/
  border-color: rgba(125,125,125);
}
a:link, a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgba(125,125,125);
}
.featbox {
  background-color: transparent;
}
.about {
  background-color: rgba(125,125,125,.8);
  margin: 0px;
  padding: 25px;
  font-size: 14pt;
}
.featured:hover {
  transform: scale(1.1);
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
  padding-top: 0px;
  border-style: none;
}
.container2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
  padding-top: 0px;
  border-style: none;
}
.content {
  justify-content: center;
  align-items: center;
}
.content2 {
  background-color: rgba(45,45,45,.9);
  padding: 25px;
}
.content1 {
  background-color: rgba(50,50,50,.7);
}

.header {
  grid-column: span 3;
  grid-row: span 1;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 500px;
}
.footer {
  grid-column: span 3;
  grid-row: span 1;
  padding: 0px;
}
.footergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: span 4;
  grid-row: span 1;
  border-style: none;
  background-color: transparent
}
.footerstyle {
  background-color: transparent;
  border-style: none;
}
.navwrap {
  grid-column: span 3;
  grid-row: span 1;
}
.content {
  grid-column: span 1;
  grid-row: span 1;
}
@media screen and (min-width: 200px) {
  h1 {
    font-size: 25pt;
  }
  h2 {
    font-size: 15pt;
  }
  h3 {
    font-size: 12pt;
  }
  body, p {
    font-size: 10pt;
  }
  div {
    padding: 5px;
  }
  .content2 {
    padding: 10px;
  }
  .about {
    padding: 10px;
  }
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 60pt;
  }
  h2 {
    font-size: 30pt;
  }
  h3 {
    font-size: 20pt;
  }
  body, p {
    font-size: 12pt;
  }
  .content2 {
    padding: 30px;
  }
  .about {
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
  }
  h1 {
    font-size: 60pt;
  }
  h2 {
    font-size: 30pt;
    padding-right: 35px;
    padding-left: 35px;
  }
  h3 {
    font-size: 25pt;
    padding-right: 35px;
    padding-left: 35px;
  }
  body, p {
    font-size: 15pt;
    padding-right: 35px;
    padding-left: 35px;
  }
}
